<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Client: <%= @client  %> <small><%= @client.client_number  %></small></h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="box box-primary">
    <div class="box-body">
      <%= link_to "Edit Client", edit_client_path(@client), :class => "btn btn-info" %>
      <%= link_to "New Bank Account", new_client_bank_account_path(@client.id), :class => "btn btn-primary" %>
      <%= render partial: "bank_accounts", locals: { bank_accounts: @client.bank_accounts }  %>
    </div>
  </div>
</section>
